page-sell {
    .button,.label ,.ion-label[stacked], ion-label[floating],.item-input,ion-label
    {
        color: black !important;
    }
    .toolbar-title
    {
        font-size: 3.5rem  !important;
        margin-bottom: 20px  !important;
        
        color: #a7d171  !important;
    }
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
      }
      .bar-button
      {
        color:#f9ef66;

      }
}
