page-home {
    .left-top {
        font-size: 3.4vh;
        font-weight: bolder;
        text-shadow: 1px 1px #ffffff;
        background-color: #f9ef66b8;
        margin: 5px;
    }
    .right-top {
        font-size: 3.4vh;
        font-weight: bolder;
        text-shadow: 1px 1px #ffffff;
        background-color: #a7d171b8;
        margin: 5px;
    }
    .left-bottom {
        font-size: 3.4vh;
        font-weight: bolder;
        text-shadow: 1px 1px #ffffff;
        background-color: #f27da2b8;
        margin: 5px;
    }
    .right-center {
        font-size: 3.4vh;
        font-weight: bolder;
        text-shadow: 1px 1px #ffffff;
        background-color: #6eafe0b8;
        margin: 5px;
    }
    .right-bottom {
        font-size: 3.4vh;
        font-weight: bolder;
        text-shadow: 1px 1px #ffffff;
        background-color: #ffc85bb8;
        margin: 5px;
    }
    .col {
        padding: 0px;
    }
}
